
/* Home page CSS */
.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s;
  height: 200px;
}

.card:hover {
  -webkit-transform: translate(-10px, 10px);
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 5px #5f5f5f;
}

a {
  text-decoration: none !important;
  color: blue;
}

/* Player CSS Starts Here */
h2{
    color: red;
}

 * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }
  
  button {
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  button.learn-more {
    width: 12rem;
    height: auto;
  }
  button.learn-more .circle {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  .circle2{
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 0);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }
  button.learn-more .circle .icon {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  button.learn-more .circle .icon.arrow {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  button.learn-more .button-text {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 2.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  button:hover .circle {
    width: 100%;
  }
  button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(0.5rem, 0);
            transform: translate(0.5rem, 0);
  }
  button:hover .button-text {
    color: #fff;
  }
  